.text {
	$styles: (
		300: (
			(12, 14),
			(14, 16),
		),
		400: (
			(12, 14),
			(14, 16),
			(28, 33),
		),
		500: (
			(16, 19),
		),
		800: (
			(100, 135),
			(128, 135),
		),
	);

	@each $weight, $sizes in $styles {
		@each $size in $sizes {
			$font-size: nth($size, 1);
			$line-height: nth($size, 2);

			&-#{$weight}-#{$font-size}-#{$line-height} {
				font-weight: $weight;
				font-size: #{$font-size}px;
				line-height: #{$line-height}px;

			}
		}
	}
}

.text-uppercase {
	text-transform: uppercase;
}
