.icon {
	display: block;
	background-color: var(--icon-color, black);
	mask-size: var(--icon-size, cover);
	width: var(--icon-width, 24px);
	height: var(--icon-height, 24px);
}

.icon {
	&-call {
		mask-image: url('../images/svg/call.svg');
		-webkit-mask-image: url('../images/svg/call.svg');
	}
	&-location {
		mask-image: url('../images/svg/location.svg');
		-webkit-mask-image: url('../images/svg/location.svg');
	}
	&-burger {
		mask-image: url('../images/svg/burger.svg');
		-webkit-mask-image: url('../images/svg/burger.svg');
	}
	&-arrowRightDown {
		mask-image: url('../images/svg/arrowRightDown.svg');
		-webkit-mask-image: url('../images/svg/arrowRightDown.svg');
	}
	&-message {
		mask-image: url('../images/svg/message.svg');
		-webkit-mask-image: url('../images/svg/message.svg');
	}
}
